// Custom.scss
@import "../../node_modules/bootstrap/scss/bootstrap";

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color;
  background: rgba($color, $opacity);
}

header {
   @include background-opacity(map-get($theme-colors, 'dark'), 0.5);
}

.posts .list-group li {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;

  a {
    text-decoration: none;
  }
}